<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MatchUpGG</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CountData</display-name>
    <servlet-name>CountData</servlet-name>
    <servlet-class>CountData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountData</servlet-name>
    <url-pattern>/CountData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetApiData</display-name>
    <servlet-name>GetApiData</servlet-name>
    <servlet-class>GetApiData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetApiData</servlet-name>
    <url-pattern>/GetApiData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UseDatabase</display-name>
    <servlet-name>UseDatabase</servlet-name>
    <servlet-class>UseDatabase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UseDatabase</servlet-name>
    <url-pattern>/UseDatabase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetApiData2</display-name>
    <servlet-name>GetApiData2</servlet-name>
    <servlet-class>GetApiData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetApiData2</servlet-name>
    <url-pattern>/GetApiData2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>printURL</display-name>
    <servlet-name>printURL</servlet-name>
    <servlet-class>printURL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>printURL</servlet-name>
    <url-pattern>/printURL</url-pattern>
  </servlet-mapping>
</web-app>